ul
{
    list-style-type: none;
}
ul > li{
    background-color: bisque;
    margin: 1px;
    padding: 5px;
    text-align: right;
    vertical-align:middle;
}
<<<<<<< HEAD
.button.warning, .button.success{
    color: #fefefe;
}

.row-heading{
    font-weight: bold;
    font-family: 'Vollkorn', serif;
    font-size: 20px;
}
=======

>>>>>>> parent of 447e512... Changed button color
.heading{
    font-family: 'Vollkorn', serif;
    color: gold;
}

.flick-name{
    text-align:left;
    line-height: 50px;
}

.flick-year{
    text-align:left;
    line-height: 50px;
}

#flick-form{
    margin-bottom: 40px;
}

.space{
    margin-right: 20px;
}
.logo{
    height:100px;
}

.promote{
    background-color: white;
    text-transform: uppercase;
    font-family: opensans;
    font-weight: 500;
    border: solid;
    border-color: cornflowerblue;
}

.template {
    display: none;
}

body {
    background-image: url("pics.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    position: relative;
}
